<article class="thumb">
  <img class="lazy" src="assets/default.jpg" data-src="https://apoorv.pro/lozad.js/demo/images/thumbs/01.jpg" />
</article>
<article class="thumb">
  <img class="lazy" src="assets/default.jpg" data-src="https://apoorv.pro/lozad.js/demo/images/thumbs/02.jpg" />
</article>
<article class="thumb">
  <img class="lazy" src="assets/default.jpg" data-src="https://apoorv.pro/lozad.js/demo/images/thumbs/03.jpg" />
</article>
<article class="thumb">
  <img class="lazy" src="assets/default.jpg" data-src="https://apoorv.pro/lozad.js/demo/images/thumbs/04.jpg" />
</article>
<article class="thumb">
  <img class="lazy" src="assets/default.jpg" data-src="https://apoorv.pro/lozad.js/demo/images/thumbs/05.jpg" />
</article>
<article class="thumb">
  <img class="lazy" src="assets/default.jpg" data-src="https://apoorv.pro/lozad.js/demo/images/thumbs/06.jpg" />
</article>
<article class="thumb">
  <img class="lazy" src="assets/default.jpg" data-src="https://apoorv.pro/lozad.js/demo/images/thumbs/07.jpg" />
</article>
<article class="thumb">
  <img class="lazy" src="assets/default.jpg" data-src="https://apoorv.pro/lozad.js/demo/images/thumbs/08.jpg" />
</article>
<article class="thumb">
  <img class="lazy" src="assets/default.jpg" data-src="https://apoorv.pro/lozad.js/demo/images/thumbs/09.jpg" />
</article>
<article class="thumb">
  <img class="lazy" src="assets/default.jpg" data-src="https://apoorv.pro/lozad.js/demo/images/thumbs/10.jpg" />
</article>
<article class="thumb">
  <img class="lazy" src="assets/default.jpg" data-src="https://apoorv.pro/lozad.js/demo/images/thumbs/11.jpg" />
</article>
<article class="thumb">
  <img class="lazy" src="assets/default.jpg" data-src="https://apoorv.pro/lozad.js/demo/images/thumbs/12.jpg" />
