<nav class="navbar navbar-dark bg-dark">
    <div *ngFor="let menu of menus">
        <div class="nav-link" routerLinkActive="active" routerLink="{{menu[1]}}">{{menu[0]}}</div>
    </div>
</nav>
<router-outlet></router-outlet>