<p>
  <input type="text" [(ngModel)]="query"> <button (click)="getFromAPI()">Go!</button>
</p>

<div *ngFor="let artist of results">
  <div>{{artist.artist_name}}</div>
<a class="twitter-timeline" [href]="artist.artist_twitter_url+'?ref_src=twsrc%5Etfw'">Tweets by {{artist.artist_name}}</a>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>